force-app/main/default/flows/Account_Define_Perfil.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Arrojado_upd</name>
        <label>Arrojado</label>
        <locationX>873</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Perfil_investidor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrojado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Upd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conservador_Upd</name>
        <label>Conservador</label>
        <locationX>708</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Perfil_investidor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conservador</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Upd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Moderado_Upd</name>
        <label>Moderado</label>
        <locationX>777</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Perfil_investidor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Moderado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Upd</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AcumularRecursos</name>
        <choiceText>Acumular recursos: obter rentabilidade acima da inflação.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Alta</name>
        <choiceText>Alta: estou disposto a assumir riscos elevados para alcançar retornos expressivos.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Baixa</name>
        <choiceText>Baixa: quero rentabilidade acima da poupança com preservação de poder de compra.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Bom</name>
        <choiceText>Bom</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Especular</name>
        <choiceText>Especular: ter alta valorização, correndo riscos maiores, se necessário.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Excelente</name>
        <choiceText>Excelente</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Media</name>
        <choiceText>Média: estou disposto a assumir riscos maiores para superar a taxa de juros DI (CDI).</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Naotenhoconhecimento</name>
        <choiceText>Não tenho conhecimento</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PreservarCapital</name>
        <choiceText>Preservar capital: corrigir os investimentos pela variação da inflação.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Razoavel</name>
        <choiceText>Razoável</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Regular</name>
        <choiceText>Regular: quero rentabilidade próxima a taxa de juros DI (CDI) e aceito eventuais riscos.</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Define_Perfil</name>
        <label>Define Perfil</label>
        <locationX>614</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>Conservador_Upd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Arrojado</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 5) AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>Acoes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fundos_imobiliarios</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alta</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Media</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Especular</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Excelente</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Razoavel</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Arrojado_upd</targetReference>
            </connector>
            <label>Arrojado</label>
        </rules>
        <rules>
            <name>Moderado</name>
            <conditionLogic>(1 OR 2 ) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Titulos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tesouro_direto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AcumularRecursos</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Regular</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Bom</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Moderado_Upd</targetReference>
            </connector>
            <label>Moderado</label>
        </rules>
    </decisions>
    <interviewLabel>Account Define Perfil {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Define Perfil</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Account_Upd</name>
        <label>Account_Upd</label>
        <locationX>992</locationX>
        <locationY>301</locationY>
        <inputReference>account</inputReference>
    </recordUpdates>
    <screens>
        <name>Q1</name>
        <label>Q1</label>
        <locationX>168</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q2</targetReference>
        </connector>
        <fields>
            <name>R1</name>
            <choiceReferences>Naotenhoconhecimento</choiceReferences>
            <choiceReferences>Bom</choiceReferences>
            <choiceReferences>Razoavel</choiceReferences>
            <choiceReferences>Excelente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Como você avalia seu conhecimento sobre investimentos?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>294</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q3</targetReference>
        </connector>
        <fields>
            <name>R2</name>
            <choiceReferences>Baixa</choiceReferences>
            <choiceReferences>Regular</choiceReferences>
            <choiceReferences>Media</choiceReferences>
            <choiceReferences>Alta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual a melhor opção para descrever sua tolerância ao risco?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q3</name>
        <label>Q3</label>
        <locationX>413</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Q4</targetReference>
        </connector>
        <fields>
            <name>R3</name>
            <choiceReferences>PreservarCapital</choiceReferences>
            <choiceReferences>AcumularRecursos</choiceReferences>
            <choiceReferences>Especular</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qual é o seu objetivo ao investir?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Q4</name>
        <label>Q4</label>
        <locationX>524</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_Perfil</targetReference>
        </connector>
        <fields>
            <name>DT4</name>
            <fieldText>&lt;p&gt;Selecione abaixo os investimentos que você ja tem ou teve:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Poupanca</name>
            <dataType>Boolean</dataType>
            <fieldText>Poupança</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tesouro_direto</name>
            <dataType>Boolean</dataType>
            <fieldText>Tesouro direto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Titulos</name>
            <dataType>Boolean</dataType>
            <fieldText>Titulos renda fixa (CDB,LCI, Debênture,entre outros)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Acoes</name>
            <dataType>Boolean</dataType>
            <fieldText>Ações</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fundos_imobiliarios</name>
            <dataType>Boolean</dataType>
            <fieldText>Fundos imobiliários</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Q1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
